* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body, html {
	height: 100%;
}

#myCanvas {
	cursor: crosshair;
    position: fixed;
}

.toolbar {
  display: block;
}

.colorbar {
  display: block;
  position: relative;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

#palette {
  
  height: 48px;
  width: 48px;
}

.funbar {
  display: block;
  position: relative;
}
.btnFun {
  
  display: inline-block;
  height: 20px;
  width: 48px;
  font-size: 10px;
}

.slidecontainer {
  display:block;
  width: 100%;
  height: 20px;
}


#sizeBar {
  display: inline-block;
  width: 80px;
  height: 20px;
}

.slidecontainer span{
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }